@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Random Passcode #@ViewBag.Counter</h1>
    <h1 class="">@ViewBag.Passcode</h1>
    <a href="/generate">Generate</a>
    @* <a href="/reset">Reset Counter</a> *@
</div>
